
.example {
    border: 1px solid #C0C0C0;
    border-collapse: collapse;
    margin-left: 20px;
}

.example-click {
    font-style: italic;
    text-decoration: underline;
}

.green {
    background-color: #EBFFEB;
}

.header {
    font-weight: bold;
    font-color: #003300;
}

.score {
    font-size: 1.5em;
}

